h2, h4, p{
    text-align: center;
}

#heading{
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 0px;
}

#heading .title {
    background-color: brown;
    color: black;
    font-size: 28pt;
}

.hor-line {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#orders {
    text-align: center;
}

.order{
    padding: 10px;
    text-align: center;
}